@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@mixin titolo {
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-decoration: underline;
}